@model IEnumerable<Functional.Mvc.ViewModels.ProjetoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projetos</h2>

<p>
    @Ajax.ModalDialogActionLink("Novo", "Create", "Projeto", string.Empty, null, null, "modalPopUpNovoSuccess")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @{
                    var routeValuesEdit = new RouteValueDictionary { { "id", item.ProjetoId } };
                }
                @Ajax.ModalDialogActionLink(" ", "Edit", "Projeto", "Editar", routeValuesEdit, new Dictionary<string, object>() { { "class", "btn btn-primary glyphicon glyphicon-pencil" } }, "modalPopUpNovoSuccess")
                @* ReSharper disable once UseStringInterpolation *@
                @Ajax.DeleteConfirmation(" ", string.Format("Deseja deletar o projeto {0} - {1}", item.Codigo, item.Nome),
                                                item.ProjetoId, 
                                                "Delete", 
                                                "Projeto", 
                                                new Dictionary<string, object>() { { "class", "btn btn-danger glyphicon glyphicon-trash" }})
            </td>
        </tr>
    }

</table>